


<p><strong>References:</strong></p>
<div id="refs" class="references csl-bib-body hanging-indent">
<div id="ref-kim2022financial" class="csl-entry">
Kim, Mirae, and Bo Li. 2022. <span>“Financial Challenges of Nonprofits
Serving People of Color: Original Survey Results.”</span> <em>Nonprofit
and Voluntary Sector Quarterly</em>, 08997640221122812.
</div>
<div id="ref-lee2022color" class="csl-entry">
Lee, Young-joo. 2022. <span>“The Color of Nonprofit Leadership:
Nonprofits with a CEO of Color.”</span> <em>Nonprofit Management and
Leadership</em>.
</div>
<div id="ref-yan2022pursuit" class="csl-entry">
Yan, Jiaju, Nick Mmbaga, and David Gras. 2022. <span>“In Pursuit of
Diversification Opportunities, Efficiency, and Revenue Diversification:
A Generalization and Extension for Social Entrepreneurship.”</span>
<em>Strategic Entrepreneurship Journal</em>.
</div>
</div>
